/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-freeman-block-slider .block-container{
  display: flex;
  justify-content: space-between;

  img{
    width: calc((100% - 30px) / 3);
  }
}
